.video_detail section {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.video_detail section > div {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.video_detail section video {
  height: 100%;
  width: 100%;
  background-color: #888;
}
